body {
    background-color: darkseagreen;
}

#app {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#breathImage {
    width: 300px;
    height: auto;
}

#timeBarrier {
    width: 300px;
    height: 15px;
    margin-top: 20px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
}

#timeScale {
    width: 0%;
    height: 100%;
    transition: width 1s;
    border-radius: 10px;
    background-color: aliceblue;
}

#instructionText {
    font-size: 2.8em;
}